.div_paiDash {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    width: 90%;
    max-width: 1400px;
    margin: auto;
    align-items: center;
}

.kpi {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kpi h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.kpi p {
    font-size: 2em;
    color: #000000;
    margin: 10px 0 0;
}

.chart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 100% !important;
    max-width: 600px;
    max-height: 400px;
}
